<app-navbar></app-navbar>



<div class="home-background">

    <div class="home-background_content" style="">
        <div style="">
            <img src="assets/calidda/logo.png" alt="">
            <h2 style="color: rgb(255, 255, 255);    text-shadow: 2px 2px #000;">
                !Financia hasta S/ 5,000 con CrediCálidda y recibe tu producto gratis en casa!
            </h2>
            <ul class="home-list">
                <li>
                    &#x2714; Solo necesitas tu DNI
                </li>

                <li>
                    &#x2714; Paga hasta en 60 cuotas
                </li>
                <li>
                    &#x2714; No necesitas historial crediticio
                </li>
                <li>
                    &#x2714; Paga a través de tu recibo de luz
                </li>
                <li>
                    &#x2714; Paga a través de tu recibo de gas natural
                </li>
            </ul>
            <h2 style="color:rgb(255, 255, 255);    text-shadow: 2px 2px #000;">
                Puedes adquirir: !Televisores - Celulares - Laptops - Electrodomésticos - Cocinas y más! <br>
                Llama al <span>01 614-900 </span> o déjanos tus datos para llamarte
            </h2>
        </div>
        <div
            style="background-color: rgba(255, 255, 255, 0.829);padding: 8rem 5rem  5rem; width: 30rem; border-radius: 1.5rem;">
            <form action="">
                <h3 class="form-title">Datos Personales</h3>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Nombre Completo</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>DNI</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Celular</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Categoria</mat-label>
                    <mat-select>
                        <mat-option value="tv">TV</mat-option>
                        <mat-option value="celulares">Celulares</mat-option>
                        <mat-option value="computadoras">Computadoras</mat-option>
                        <mat-option value="tablets">Tablets</mat-option>
                        <mat-option value="lavadoras">Lavadoras</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-checkbox style="margin-top: 3rem;">Acepto <span style="color: rgb(0, 115, 255);">Términos y
                        condiciones</span> y <span style="color: rgb(0, 115, 255);">Publicas web de privacidad</span>
                </mat-checkbox>
                <mat-checkbox>Acepto de mi información para <span style="color: rgb(0, 115, 255);">fines
                        comerciales</span></mat-checkbox>
                <button mat-raised-button color="primary"
                    style="margin-top: 5rem; background-color: #00A1DE !important;">Quiero que me llamen</button>
            </form>

        </div>

    </div>

</div>





<div class="content-parrafo">
    <p class="parrofo-requisito">
        ¿Cuáles son los requisitos para acceder a Credicálidda?
    </p>
</div>
<div style="display: flex; justify-content: space-around;flex-wrap: wrap; margin-top: 7rem;">
    <div style="width: 250px;">

        <img style="margin: auto;display: block;" width="70" height="70" src="assets/calidda/socio.png" alt="">
        <p style="text-align: center;">Ser cliente Residencial, estar habilitado y no haber tenido 2 o más
            cortes de servicio durante los 12 últimos meses.
        </p>
    </div>

    <div style="width: 250px;">
        <img style="margin: auto;display: block;" width="70" height="70" src="assets/calidda/deuda.png" alt="">
        <p style="text-align: center;">No tener condonación o refinancimiento de deuda</p>
    </div>



    <div style="width: 480px;height: 180px;">
        <img style="margin: auto;display: block;" width="70" height="70" src="assets/calidda/orden.png" alt="">
        <p style="text-align: center;">No tener 2 o más recibos pendientes de pago</p>
    </div>


</div>

<app-footer></app-footer>