<div class="content-footer">
    <div class="content-footer_img ">
        <img style="width: 200px;height: 200px;  border-radius: 50%;position:relative; left: 15px ;border: solid 0.5px #000;"
            src="https://us.123rf.com/450wm/jackf/jackf1610/jackf161000519/63438741-feliz-familia-espa%C3%B1ola-de-cuatro-compras-refrigerador-nuevo-en-la-tienda-de-electrodom%C3%A9sticos.jpg"
            alt="">
        <img style="width: 200px;height: 200px;  border-radius: 50%;border: solid 0.5px #000;"
            src="https://us.123rf.com/450wm/jackf/jackf1610/jackf161000519/63438741-feliz-familia-espa%C3%B1ola-de-cuatro-compras-refrigerador-nuevo-en-la-tienda-de-electrodom%C3%A9sticos.jpg"
            alt="">
        <img style="width: 200px;height: 200px;  border-radius: 50%; position: relative; left: -15px;border: solid 0.5px #000; "
            src="https://us.123rf.com/450wm/jackf/jackf1610/jackf161000519/63438741-feliz-familia-espa%C3%B1ola-de-cuatro-compras-refrigerador-nuevo-en-la-tienda-de-electrodom%C3%A9sticos.jpg"
            alt="">

    </div>
    <div>
        <h3 class="text-footer">"Más de 100,000 familias beneficiadas
            con una línea de crédito
            <br />
            que les ha permitido cumplir sus sueños
            "
        </h3>

    </div>
</div>